body {
  background-color: #ededed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  text-align: left;
}

h1 {
  font-size: 65px;
  line-height: 81px;
  margin: 20px 0;
}

p {
  text-align: justify;
  font-size: 17px;
  line-height: 25px;
  margin: 20px 0;
  font-family: "STIX Two Text", serif;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
}

.radial-overview-toolbar {
  height: 60px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
}

.radial-hour-label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 13px;
  color: #0d0d18;
  font-weight: normal;
}

.radial-hour-label-rot {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  line-height: 13px;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(180deg);
  color: #0d0d18;
}

.radial-hour-label-months {
  font-family: "Inter", sans-serif;
  transform-box: fill-box;
  transform-origin: center;
  color: #0d0d18;
  alignment-baseline: middle;
}

.animation-width {
  transition: 0.2s width;
}

.circleAnimation {
  transition: 0.5s all;
}

.regionButton {
  min-width: 135px;
  width: 130px;
  height: 24px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 0 8px;
  margin: 4px;
}
