html,
body,
#next {
  background-color: #ffd6cc;
  width: 100%;
}

* {
  font-family: "Inter";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 500;
  text-align: left;
}

h1 {
  font-size: 65px;
  line-height: 81px;
  margin: 20px 0;
}

p {
  text-align: left;
  font-size: 17px;
  line-height: 25px;
  margin: 20px 0;
  font-family: "STIX Two Text", serif;
  font-weight: 400;
}

.page-wrap {
  position: absolute;
  width: 100vw;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 1px solid black;
  cursor: pointer;
}

.radial-overview-toolbar {
  height: 60px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
}

.radial-hour-label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 13px;
  color: #0d0d18;
  font-weight: normal;
  text-transform: uppercase;
}

.radial-hour-label-rot {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 13px;
  transform-box: fill-box;
  transform-origin: center;
  transform: rotate(180deg);
  color: #0d0d18;
  text-transform: uppercase;
}

.radial-hour-label-months {
  font-family: "Inter", sans-serif;
  transform-box: fill-box;
  transform-origin: center;
  color: #0d0d18;
  alignment-baseline: middle;
}

.radial-hour-label-months-rot {
  font-family: "Inter", sans-serif;
  transform-box: fill-box;
  transform-origin: center;
  color: #0d0d18;
  alignment-baseline: middle;
  transform: rotate(180deg);
}

/* .animation-width {
  transition: 0.5s width;
} */

/* .circleAnimation {
  transition: 0.2s radius;
} */

.regionButton {
  width: 200px;
  height: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding: 0 8px;
  text-transform: uppercase;
  margin: 4px;
}

.seasonButton {
  width: 150px;
  height: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding: 0 8px;
  text-transform: uppercase;
  margin: 4px;
}

@media screen and (max-width: 768px) {
  .categoryButton {
    width: 50% !important;
    font-size: 11px !important;
    margin: 4px 0 !important;
    text-align: left;
  }

  .radial-hour-label {
    font-size: 10px;
  }
}

.categoryButton {
  width: 200px;
  height: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  padding: 0 8px;
  margin: 4px;
  text-transform: uppercase;
  position: relative;
}

.colorDot {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  min-width: 12px;
}

.subtitle {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.slick-slider {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.blend {
  mix-blend-mode: hard-light;
}
