* {
  font-family: "Nanum Myeongjo", serif;
}

body {
  background-color: #ededed;
}

h1 {
  font-size: 60px;
  margin: 20px 0;
}

p {
  text-align: justify;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0;
}
